.Repository {
  position: relative;
}

.InProgressBadge {
  font-size: 10px;
  border-radius: 20px;
  padding: 4px 8px;
  background-color: transparent;
  border: 1px solid rgb(82, 82, 82);
}

.Badge {
  font-size: 10px;
  border-radius: 20px;
  padding: 4px 8px;
  font-weight: 900;
}

.Repository-title {
  margin: 0;
  font-size: 27px;
  font-weight: 700;
  color: #0f69da;
}

.Repository-title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 7px;
  position: relative;
  cursor: pointer;
}

.Repository-title-container::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #0f69da;
}

.Repository-title-container:hover::before {
  width: 100%;
}

.Repository-content {
  max-width: 500px;
  line-height: 23px;
}

.Repository-period {
  margin-top: 15px;
  font-size: 11px;
}
